.tost-ted{
    position: relative;
    .main-span{
        color: var(--bs-gray);
        border: 1px solid var(--bs-green);
        border-radius: 9px;
        .cross-span{
            cursor: pointer;

        }
    }
    .add-ingre{
        display: none;
    }
}
.main-ingre-2{
    .add-ingre-2{
        display: none;
    }
}